# =============================================================================
# LATEX Y DOCUMENTOS
# =============================================================================
# Core LaTeX
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

# Intermediate
*.dvi
*.xdv
*-converted-to.*

# Bibliography
*.bbl
*.bbl-SAVE-ERROR
*.bcf
*.bcf-SAVE-ERROR
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# Build tools
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.rubbercache
rubber.cache
latex.out/

# Package-specific
*.alg
*.loa
*.thm
*.nav
*.snm
*.vrb
*.cut
*.spl
*.mf
*.mp
*.tfm
*.idx
*.ilg
*.ind
*.maf
*.mlf
*.mlt
*.mtc[0-9]*
*.nlg
*.nlo
*.nls
*.tdo
*.xcp
*.xdy
*.listing

# Otros LaTeX
_minted*/
*.data.minted
*.pyg
svg-inkscape/
sympy-plots-for-*.tex/
pythontex-files-*/
